@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@using Tweetinvi.Models

@{
    ViewData["Title"] = "News Feed";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/landing-page.css" rel="stylesheet">
    <link href="~/css/commentBox.css" rel="stylesheet">

    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome, @ViewData["Name"]! </h1>
                <h3>This is your Twitter Ohana</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li>
                    @using (Html.BeginForm("getUserFollowers", "Home", FormMethod.Get))
                    {
                        <button type="submit" href="" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Followers: @ViewData["Number_of_followers"]</span></button>
                    }
                    </li>
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa fa-thumbs-up fa-fw"></i> <span class="network-name">Likes: @ViewData["Number_of_likes"]</span></a>
                    </li>
                    <li>
                        @using (Html.BeginForm("getUserTweets", "Home", FormMethod.Get))
                        { 
                            <button href="#" type="submit" id="twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">tweets: @ViewData["Number_of_tweets"]</span></button>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("sendTweet", "Home", FormMethod.Get))
{
    <div class="widget-post" aria-labelledby="post-header-title">
        <form id="widget-form" class="widget-post__form" name="form" aria-label="post widget">
            <div class="widget-post__content">
                <label for="post-content" class="sr-only">share your moments</label>
                <textarea name="NewTweet" id="post-content" class="widget-post__textarea scroller" placeholder="Share your moments..."></textarea>
            </div>
            <div class="widget-post__actions post--actions">
                <div class="post-actions__attachments">
                    <button type="button" class="btn post-actions__upload attachments--btn">
                        <label for="upload-image" class="post-actions__label">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            upload image
                        </label>
                    </button>
                    <input type="file" id="upload-image" accept="image/*" multiple>
                </div>
                <div class="post-actions__widget">
                    <button  type="submit" id="twitter" class="btn post-actions__publish">Tweet</button>
                </div>
            </div>
        </form>
    </div>
}

@using (Html.BeginForm("searchTweet", "Home", FormMethod.Get))
{
    <br/><br/>

    <div class="widget-post" aria-labelledby="post-header-title">
        <form id="widget-form" class="widget-post__form" name="form" aria-label="post widget">
            <div class="widget-post__content">
                <textarea name="SearchTweet" id="post-content" class="widget-post__textarea scroller" placeholder="Search a tweet by keyword..."></textarea>
            </div>
            <div class="widget-post__actions post--actions">
                <div class="post-actions__attachments"></div>
                <div class="post-actions__widget">
                    <button type="submit" id="twitter" class="btn post-actions__publish">Search</button>
                </div>
            </div>
        </form>
    </div>
}
